

files:
  - path: "{{ workpath.remote.full }}/scrapes/"
<% if hostvars[inventory_hostname].prom.pushgateway | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrapes/pushgateway.yml"
    copy: "{{ playbook_dir }}/scrapes/pushgateway.yml"
<% endif %>
<% if hostvars[inventory_hostname].prom.blackbox | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrapes/blackbox.yml"
    copy: "{{ playbook_dir }}/scrapes/blackbox.yml"
<% endif %>
<% if hostvars[inventory_hostname].prom.dockerd | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrapes/dockerd.yml"
    copy: "{{ playbook_dir }}/scrapes/dockerd.yml"
<% endif %>
<% if hostvars[inventory_hostname].prom.node | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrapes/node.yml"
    copy: "{{ playbook_dir }}/scrapes/node.yml"
<% endif %>
volumes:
  - name: external_vol-prometheus-etc
    driver: local
    push:
      - dest: "scrapes"
        directory_mode: '0777'
      - remote_src: true
        src: "{{ workpath.remote.full }}/scrapes/"
        dest: "scrapes"
        directory_mode: '0777'
