

files:
  - group: docker-manager
    path: "{{ workpath.remote.full }}/../config/prometheus.yml"
    template: "{{ playbook_dir }}/../config/prometheus.yml.j2"
  - path: "{{ workpath.remote.full }}/scrape/scrapes/"
<% if hostvars[inventory_hostname].prom.pushgateway | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrape/scrapes/pushgateway.yml"
    copy: "{{ playbook_dir }}/scrape/scrapes/pushgateway.yml"
<% endif %>
<% if hostvars[inventory_hostname].prom.blackbox | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrape/scrapes/blackbox.yml"
    copy: "{{ playbook_dir }}/scrape/scrapes/blackbox.yml"
<% endif %>
<% if hostvars[inventory_hostname].prom.dockerd | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrape/scrapes/dockerd.yml"
    copy: "{{ playbook_dir }}/scrape/scrapes/dockerd.yml"
<% endif %>
<% if hostvars[inventory_hostname].prom.node | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrape/scrapes/node.yml"
    copy: "{{ playbook_dir }}/scrape/scrapes/node.yml"
<% endif %>
<% if hostvars[inventory_hostname].cadvisor | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/scrape/scrapes/cadvisor.yml"
    copy: "{{ playbook_dir }}/scrape/scrapes/cadvisor.yml"
<% endif %>
  - path: "{{ workpath.remote.full }}/rule/rules/"
<% if hostvars[inventory_hostname].prom.node | default(None,true) != None %>
  - path: "{{ workpath.remote.full }}/rule/rules/instance-node.yml"
    copy: "{{ playbook_dir }}/rule/rules/instance-node.yml"
<% endif %>
volumes:
  - name: external_vol-prometheus-data
    driver: local
  - name: external_vol-prometheus-etc
    driver: local
    push:
      - dest: "scrapes"
        directory_mode: '0777'
      - remote_src: true
        src: "{{ workpath.remote.full }}/scrape/scrapes/"
        dest: "scrapes"
        directory_mode: '0777'
      - dest: "rules"
        directory_mode: '0777'
      - remote_src: true
        src: "{{ workpath.remote.full }}/rule/rules/"
        dest: "rules"
        directory_mode: '0777'
networks:
  - group: docker-manager
    name: external_net-prom
    driver: overlay
    attachable: true
  - group: docker-manager
    name: external_net-prometheus
    driver: overlay
    attachable: true
labels:
  - group: docker-manager
    labels:
      prom-prometheus: 'anyone'
envs:
  - file: external_env-prometheus.env
    content: ''
composes:
  - file: docker-compose-swarm.yml
    src: "{{ playbook_dir }}/docker-compose-swarm.yml"
share:
  once: true
override: "{{ prom.prometheus | default({},true) }}"
